src/conf/xml-resources/web-service-references/LibertadorWS/wsdl/localhost_8080/Libertador/LibertadorWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.libertador.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.libertador.com/">

<xs:element name="BuscarRegistroPago" type="tns:BuscarRegistroPago"/>

<xs:element name="BuscarRegistroPagoResponse" type="tns:BuscarRegistroPagoResponse"/>

<xs:element name="ImportarRegistroPago" type="tns:ImportarRegistroPago"/>

<xs:element name="ImportarRegistroPagoResponse" type="tns:ImportarRegistroPagoResponse"/>

<xs:element name="RegistrarAlumno" type="tns:RegistrarAlumno"/>

<xs:element name="RegistrarAlumnoResponse" type="tns:RegistrarAlumnoResponse"/>

<xs:complexType name="ImportarRegistroPago">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImportarRegistroPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarRegistroPago">
<xs:sequence>
<xs:element name="dni" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarRegistroPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarAlumno">
<xs:sequence>
<xs:element name="dni" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>